/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

button{
  width:200px;
  height:50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
